@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

@import url("components/container.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");

 body{
  font-family: 'Gabarito', cursive;
  font-size:18px;
  text-align:justify;
  margin:0;
 }

 .img-square{
  width:75px;
  height: 75px;
  border-radius:6px;
}

h2,h3,h4,h5,h6{
  font-size:25px;
 }
